/* src/styles/main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Source+Sans+3&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* .mapboxgl-map {
  width: 362px !important;
  height: 400px !important;

}
@media screen and (min-width: 769px){
  .mapboxgl-map {
    width: 100% !important;
    height: 400px !important;
  }
} */

.mapboxgl-map {
  height: 400px !important;
  width: 100% !important;
}

.mapboxgl-canvas {
  position: relative;
  height: inherit;
  width: inherit;
}

.mapboxgl-control-container {
  display: none !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fade-in-animation {
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: forwards;
  min-height: 100vh;
}


@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Playfair Display', serif;
  }

  p, a {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  a  {
    border-radius: 6px;
  }

  :focus {
    outline: 4px solid #ffbf59;
    border: transparent;
  }

  button {
    padding: 1em 2em;
    border-radius: 6px;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: 18px;
    z-index: 2;
    white-space: nowrap;
  }

  a:hover, button:hover {
    transform: translate(0, -3px);
    text-decoration: underline;
    box-shadow: 0 4px 60px -21px whitesmoke;
  }
  .cta:hover {
   box-shadow: 0 20px 80px -10px wheat;
  }
} 